

.header{
  margin-top: 30px;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.header h1{
  font-size: 40px;
}
.App{
  padding: 25px;
  width: 600px;
  /* border: 1px solid rgb(58, 56, 56); */
}
.task-reminder{
  border-left: 8px solid green;
  transition :all .5s ease;
}